.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.map-container{
  border: 2px solid black;
  margin: 20px;
}

.btn-primary {
  color: black;
  background-color: #e0e1e2;
  border-color: #e0e1e2 !important;
}

.btn-primary:hover {
  color: black;
  background-color: white;
  border-color: white
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 0rem white;
  background-color: white;
  border-color: white
}

.btn-primary.disabled, .btn-primary:disabled {
  color: black;
  background-color: #e0e1e2;
  border-color: #e0e1e2;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: black;
  background-color: white;
  border-color: white;
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0rem #e0e1e2; /* while clicking */
}

.btn-group > .btn:not(:last-child):not(.dropdown-toggle),
.btn-group > .btn-group:not(:last-child) > .btn {
  border-radius: 20px;
}

.btn-group > .btn:not(:first-child),
.btn-group > .btn-group:not(:first-child) > .btn {
  border-radius: 20px;
}

.barButtonGroup {
  background: #e0e1e2;
  height: 2.5em;
  border-radius: 0.3vw;
  padding-top: 1vh;
  padding-bottom: 1.2vh;
  display: flex;
  margin-left: 2vw;
  margin-top: 2vh;
}

.StateChart {
  display: flex;
}

.StateChart .css-2b097c-container {
  display: inline-block;
  width: 14vw;
}

.TopFilterLabel {
  font-weight: bold;
  display: inline-block;
  padding-left: 10px;
  padding-right: 55px;
}

.DateText {
  border: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2em;
  font-weight: normal;

}

.react-datepicker-wrapper {
  flex-grow: 0.5;
}

.DatePicker{
  display: flex;
  margin-left: 2vw;
}

.calendarIcon{
  padding-right: .2vw;
  font-size: 3vh;
}

.chart1 {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-flex;
  flex-flow: row wrap;
  display: flex;
  justify-content: center;
}

.chartContainer {
  border: 2px solid black;
  width: 600px;
  height: 50vh;
  textAlign: center;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
  margin-top: 2.5vh;
  margin-bottom: 2.5vh;
  flex-grow: .5;
  min-width: calc(100% * (1 / 2) - 10vw);

}

h3 {
  text-align: center;
}


